@page "/"
@using MLModelFocusArea3
@using MLModelIntent2
@using System.Text


<PageTitle>Index</PageTitle>

<div class="row text-center">
    <div class="col-6">
        <RadzenTextArea @bind-Value="@tekst" />
    </div>
    <div class="col-6">
        <RadzenButton ButtonStyle="ButtonStyle.Primary" Click="@GetIntentAndFocusArea">Submit</RadzenButton>
    </div>

    @if (predictionResultFocusarea != null && predictionResultIntent != null)
    {
        <div class="row">
            <div class="col-6">
                <RadzenCard>
                    <RadzenLabel Text="Intent: " />
                    <RadzenLabel Text="@predictionResultIntent.PredictedLabel" />
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" Click="@ShowModalIntent">Was the Intent worng?</RadzenButton>
                </RadzenCard>
            </div>
            <div class="col-6">
                <RadzenCard>
                    <RadzenLabel Text="FocusArea: " />
                    <RadzenLabel Text="@predictionResultFocusarea.PredictedLabel" />
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" Click="@ShowModalFocusArea">Was the FocusArea worng?</RadzenButton>
                </RadzenCard>
            </div>
        </div>
    }

</div>



<Modal @ref="modalIntent">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Add the corret Intent</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>Intent</FieldLabel>
                <TextEdit @bind-Text="@intent" Placeholder="Enter intent..." />
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModalIntent">Close</Button>
            <Button Color="Color.Primary" Clicked="@SaveModalIntent">Save Changes</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

<Modal @ref="modalFocusArea">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Add the corret FocusArea</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>FocusArea</FieldLabel>
                <TextEdit @bind-Text="@foucsArea" Placeholder="Enter focusArea..." />
            </Field>

        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModalFocusArea">Close</Button>
            <Button Color="Color.Primary" Clicked="@SaveModalFocusArea">Save Changes</Button>
        </ModalFooter>
    </ModalContent>
</Modal>


@code {
    private Modal modalIntent;
    private Modal modalFocusArea;
    private string tekst = string.Empty;
    private string intent = string.Empty;
    private string foucsArea = string.Empty;
    private MLModelIntent1.ModelOutput? predictionResultIntent;
    private MLModelFocusArea1.ModelOutput predictionResultFocusarea;



    private async Task GetIntentAndFocusArea()
    {
        MLModelIntent1.ModelInput sampleDataIntent = new MLModelIntent1.ModelInput()
            {
                Utterances = tekst,
            };

        // Make a single prediction on the sample data and print results
        predictionResultIntent = MLModelIntent1.Predict(sampleDataIntent);

        MLModelFocusArea1.ModelInput sampleDataFocusarea = new MLModelFocusArea1.ModelInput()
            {
                Utterances = tekst,
            };

        // Make a single prediction on the sample data and print results
        predictionResultFocusarea = MLModelFocusArea1.Predict(sampleDataFocusarea);

    }

    private Task ShowModalIntent() => modalIntent.Show();
    private Task HideModalIntent() => modalIntent.Hide();
    private async Task SaveModalIntent()
    {
        string filePath = @"C:\Users\peter\Downloads\archive\Small_talk_Intent_userdate.csv";

        StringBuilder sb = new StringBuilder();
        sb.AppendLine($"{tekst},{intent},{predictionResultIntent.PredictedLabel}");

        File.AppendAllText(filePath, sb.ToString());
        HideModalIntent();
    }

    private Task ShowModalFocusArea() => modalFocusArea.Show();
    private Task HideModalFocusArea() => modalFocusArea.Hide();
    private async Task SaveModalFocusArea()
    {
        string filePath = @"C:\Users\peter\Downloads\archive\Small_talk_FocusArea_userdata.csv";

        StringBuilder sb = new StringBuilder();
        sb.AppendLine($"{tekst},{foucsArea},{predictionResultFocusarea.PredictedLabel}");

        File.AppendAllText(filePath, sb.ToString());
        HideModalFocusArea();
    }


}